body {
    background: #f0ecec;
    font-family: 'Hanken Grotesk', sans-serif;

}


.container {
    margin-top: 300px;
    margin-left: 300px;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 500px;

}

div.item-one {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
}

div.item-one p {
    text-align: center;
    color: #fff;
    margin-top: 30px;
    font-size: 18px;
    text-transform: capitalize;
}

div.item-x {
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 auto;
}

div.item-x p {
    margin-top: 0;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Hanken Grotesk', sans-serif;
}

.item-x p:nth-child(2) {
    font-size: 15px;
    position: relative;
    bottom: 50px;

}

/* styling item y */

div.item-y h2 {
    text-align: center;
    color: #fff;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 30px;
}

div.item-y p {
    margin: 0 20px;
    font-size: 18px;
    padding: 12px;
    text-transform: none;
    font-family: 'Hanken Grotesk', sans-serif;
}


/* item 2 */

.item-two {
    background: #fff;
    border-radius: 20px;
}

.item-two h2 {
    margin-left: 40px;
    text-transform: capitalize;
}

.svg {
    display: flex;
    margin-left: 40px;
    border-radius: 15px;
}

.svg img {
    width: 30px;
    margin-left: 10px;
}


div.reaction {
    margin: 0 40px;
    color: hsl(0, 100%, 67%);
    background: hsla(0, 100%, 67%, 0.1);
    font-weight: 600;
    font-size: 18px;
}

p.no-a {
    position: relative;
    left: 115px;
    color: #000;
    margin-right: 10px;

}

p.no-x {
    position: relative;
    left: 130px;
    color: #000;
    margin-right: 10px;

}

p.no-y {
    position: relative;
    left: 120px;
    color: #8c8888;

}

p.no-e {
    position: relative;
    left: 145px;
    color: #000;
    margin-right: 10px;

}

p.no-f {
    position: relative;
    left: 140px;
    color: #636161;

}

p.no-b {
    position: relative;
    left: 110px;
    color: #7e7b7b;

}

div.memory {
    background: hsla(39, 100%, 56%, 0.1);
    margin: 15px 40px;
    color: hsl(39, 100%, 56%);
    font-weight: 600;
    font-size: 18px;
}

div.verbal {
    margin: 15px 40px;
    color: hsl(166, 100%, 37%);
    background: hsla(166, 100%, 37%, 0.1);
    font-weight: 600;
    font-size: 18px;
}

div.visual {
    background: #888cc6;
    margin: 15px 40px;
    font-weight: 600;
    color: hsl(234, 85%, 45%);
    background: hsla(234, 85%, 45%, 0.1);
    font-weight: 600;

}

div.cont {
    background: hsl(224, 30%, 27%);
    margin: 0 40px;
    border-radius: 40px;
    margin-top: 40px;
}

div.cont p {
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Hanken Grotesk', sans-serif;
}

p.paragraph {
    margin-left: 10px;
}

@media screen and (max-width:1000px) {
    .container {
        display: block;
        margin: 300px 300px;
    }

    .item-one {
        height: 500px;
    }

    p.result {}
}

/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

### Notes

Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

## Typography

### Body Copy

- Font size (paragraphs): 18px

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800 */